body {
  background-color: rgb(25, 25, 35);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin: 20px;
  font-size: 3em;
}

p {
  color: white;
  font-size: 1.2rem;
}

/* BOARDS  */

.container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label {
  color: whitesmoke;
  text-transform: capitalize;
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(10, 50px);
}

button {
  appearance: none;
  border: none;
  padding: 0;
  background-color: black;
  outline: 1px solid whitesmoke;
}

.rowNumber {
  color: white;
  padding-top: 15px;
  text-align: center;
}

/* BOTTOM BUTTONS */

.bottom-container {
  display: flex;
  gap: 50px;
}

.randomize,
.switch,
.submit,
.ready {
  padding: 0.7em 1.5em;
  font-size: 1.5em;
  border-radius: 8px;
  outline: none;
}

.randomize:hover,
.switch:hover,
.submit:hover,
.ready:hover {
  cursor: pointer;
}

.randomize {
  background-color: gray;
  color: whitesmoke;
}

.switch {
  background-color: red;
  color: whitesmoke;
}

.submit {
  background-color: blue;
  color: whitesmoke;
}

.ready {
  background-color: gray;
  color: whitesmoke;
}

.green {
  background-color: green;
}

/* CELLS STATES */

button.water {
  background-color: aqua;
}

button.ship {
  background-color: blue;
}

button.attacked {
  background-color: black;
}

button.damaged {
  background-color: orange;
}

button.sunk {
  background-color: red;
}

/* DIALOG */

dialog {
  color: #999;
  margin: auto;
  border: none;
  padding: 50px;
  border-radius: 20px;
  font-size: 1.1rem;
  background-color: rgb(0 0 0 / 90%);

  width: clamp(500px, 500px, 50%);
}

::backdrop {
  backdrop-filter: blur(10rem);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
}